<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/menuStyle.css" />
    <link rel="stylesheet" href="./css/showStudent.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <title>SRMS</title>
  </head>
  <body>
    <%- include ("./include/_navbar.ejs") %>
    <div class="d-flex">
      <div class="main">
        <div class="options-container">
          <%- include("./include/_sidebarButtons.ejs") %>
        </div>
      </div>
      <div class="displayed">
        <!-- leave-->

        <main id="site-main">
          <div class="container">
            <div class="form-title text-center">
              <h2 class="text-dark text-center">New Student</h2>
              <span class="text-light"
                >Use the below form to register a new Student</span
              >
            </div>
            <!-- add success/error messagge-->
            <%- include("./partials/messages") %>
            <!-- add user form -->
            <%- include('include/_form') %>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
