<%- include("./include/_header.ejs") %>
<link rel="stylesheet" href="./css/stylesearch.css">
<%- include ("./include/_navbar.ejs") %>
    <div class="d-flex">
      <div class="main">
        <div class="options-container">
          <%- include("./include/_sidebarButtons.ejs") %>
        </div>
      </div>
      <div class="displayed">
        <!-- leave-->
        <div class="box">
          <div class="container-search">
            <h2 class="roll-title">Enter Student Roll to Search</h2>
            <form
              action="/search-student"
              method="post"
              role="search"
              id="form"
            >
              <input
                type="search"
                id="query"
                name="query"
                placeholder="Search..."
              />
              <button type="submit" class="button" name="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
