<%- include("./include/_header.ejs") %>
    <%- include ("./include/_navbar.ejs") %>
    <div class="d-flex">
      <div class="main">
        <div class="options-container">
          <%- include("./include/_sidebarButtons.ejs") %>
        </div>
      </div>
      <div class="displayed">
        <!-- leave-->
        <main id="site-main">
          <div class="container">
            <!-- form handling -->
            
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th>Roll no.</th>
                    <th>Name</th>
                    <th>@Email</th>
                    <th>Gender</th>
                    <th>Phone</th>
                    <th>Stream</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <%- include ("./include/_show.ejs") %>
                </tbody>
              </table>
            
          </div>
        </main>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
 
  </body>
</html>
