<div class="nav-container">
  <div class="box-nav d-flex justify-between">
    <a href="/add-user" class="border-shadow newbtn">
      <span class="text-gradient">New Student <i class="fas fa-user"></i></span>
    </a>
  </div>
  <div class="box-nav d-flex justify-between">
    <a href="/search-student" class="border-shadow newbtn">
      <span class="text-gradient"
        >Search Student <i class="fa fa-search"></i
      ></span>
    </a>
  </div>
  <div class="box-nav d-flex justify-between">
    <a href="/studentdb" class="border-shadow newbtn">
      <span class="text-gradient"
        >Registered Students <i class="fas fa-user-graduate"></i
      ></span>
    </a>
  </div>
  <div class="box-nav d-flex justify-between">
    <a href="/addResult" class="border-shadow newbtn">
      <span class="text-gradient"
        >Add Results <i class="fas fa-poll-h"></i
      ></span>
    </a>
  </div>
</div>
