<nav class="navbar">
  <div class="logo">SRMS</div>
  <div class="menu">
    <div class="btns">
      <button class="btn">
        <a href="/menu">Home</a>
      </button>
      <button class="btn">
        <a href="#">Contact</a>
      </button>
      <button class="btn">
        <a href="#">About</a>
      </button>
      <button class="btn">
        <a href="/">Logout</a>
      </button>
    </div>
  </div>
</nav>
