<nav class="navbar">
  <div class="logo">SRMS</div>
  <div class="menu">
    <div class="btns">
      <button type="button" class="btn btn-light">
        <a href="#">Home</a>
      </button>
      
      <button class="btn btn-light">
        <a href="/show-results?id=<%=student._id%>">Resultt</a>
      </button>
      <button class="btn btn-light">
        <a href="/student-login">Logout</a>
      </button>
    </div>
  </div>
</nav>
