<div class="d-flex" style="flex-direction: column">
  <div class="main">
    <div class="options-container">
      <button class="option-btn">Registered Students</button>
      <button class="option-btn">Add Student</button>
      <button class="option-btn">Search Student</button>
      <button class="option-btn">Add Result</button>
    </div>
  </div>
</div>
