<button class="option-btn">
  <a href="/studentdb"> Registered Students</a>
</button>
<button class="option-btn">
  <a href="/search-student">Search Student</a>
</button>
<button class="option-btn">
  <a href="/add-user">Add Student</a>
</button>
<button class="option-btn">
  <a href="/addResult"> Add Result </a>
</button>
<button class="option-btn">
  <a href="/all-result">All Result</a>
</button>
